@charset "utf-8";

body{
    /* color:blue; */
    /* background-color: lightcyan; */
    background: linear-gradient(50deg, rgb(157, 248, 248), lightcyan, rgb(157, 248, 248));
    /* background-image: url(./sample1.jpg); */
}

h1{
    height: 2em;
    font-weight: bold;
    font-size: 5em;
    /* テキストを中央に配置するためのスタイル */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 136); 
}

h2{
    font-size: 1.5em;
    /* text-align: center; */
    text-decoration: underline;
}

.orange{
    color: rgb(255, 120, 0);
}

.highlight-yellow{
    background-color: rgb(249, 249, 59);
}

a:active{
    font-size: 2em;
}

a:visited{
    color: gray;
}

a:hover{
    color: red;
}

.bold-list li{
    font-weight: bold;
    text-decoration: underline;
}

.imp{
    background-color: rgb(250, 205, 121);
    color: black;
    text-decoration: underline;
    font-weight: bold;
    padding: 1em;
}